<%= form_for @post do |f|%>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :title %>
                <%= f.text_field :title %>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :thumbnail%>
                <%= f.file_field :thumbnail %>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :hat%>
                <%= f.text_area :hat %>
            </div>
            <div class="mdl-cell mdl-cell--6-col mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                <%= f.label :content_post%>
                <%= f.text_area :content_post %>
            </div>
            <div class="mdl-cell mdl-cell--6-col">
            <%= f.submit %>
            <%= link_to "Cancel", posts_path%>
            </div>
        <% end %>
