<div class="container">
  <h1 style="text-align: center">Les News</h1>
  <% if user_signed_in? %>
    <div class="new_post">
      <%= link_to 'Creer nouveau post', new_post_path %>
    </div>
  <% end %>
  <div class="row">
    <div class="col-sm-12">
      <div class="col-sm-12">
        <% @posts.all.each do |post| %>
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="<%= post.thumbnail %>" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%= post.title %></h5>
            <p class="card-text"><%= post.hat %></p>
            <p class="card-text">Créer le : <%= post.created_at %></p>
            <% @user= @users.find_by id: post.user_id %>
            <p class="card-text">Auteur : <%= @user.first_name %> <%= @user.last_name %></p>
            <%= link_to "Détails", post_path(post.id), :class=>"btn btn-primary" %>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
