<%= form_for @post do |f|%>
    <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title , class:"form-control"%>
    </div>
    <div class="form-group">
        <%= f.label :thumbnail%>
        <%= f.file_field :thumbnail, class:"form-control-file" %>
    </div>
    <div class="form-group">
        <%= f.label :hat%>
        <%= f.text_area :hat , class:"form-control" %>
    </div>
    <div class="form-group">
        <%= f.label :content_post%>
        <%= f.text_area :content_post , class:"form-control" %>
    </div>
    <div class="form-group">
      <%= f.submit "Create", class:"btn btn-primary"  %>
      <%= link_to "Cancel", posts_path%>
    </div>
<% end %>
