<div class="container">
  <div class="col-sm-12">
    <div class="card mb-3 mt-5">
      <img src="<%= @post.thumbnail%>" alt="Card image cap" style="height: 18em">
      <div class="card-body">
        <h5 class="card-title"><%= @post.title %></h5>
        <p>Auteur : <%= link_to @user.first_name, user_account_path(@post.user_id), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %></p>
        <p class="card-text"><%= @post.hat %></p>
        <p class="card-text"><%= @post.content_post %> </p>
        <%= link_to "Back", posts_path, class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
        <% if current_user == @post.user_id %>
          <%= link_to "Modify", edit_post_path(@post.id), class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
          <%= link_to "Delete", post_path(@post.id), method: :delete, confirm: "Are you sure ?",class:"mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
