<div class="row">
  <div class="col-sm-4">
    <div class="col-sm-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title"><%= @user.first_name %> <%= @user.last_name %></h5>
          <p class="card-text"><%= @user.email %></p>
        </div>
      </div>
    </div>
  </div>
    <div class="col-sm-4">
    <div class="col-sm-8">
      <% @posts.all.each do |post| %>
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="<%= post.thumbnail %>" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title"><%= post.title %></h5>
          <p class="card-text"><%= post.hat %></p>
          <p class="card-text">Créer le : <%= post.created_at %></p>
          <%= link_to "article", post_path(post.id), :class=>"btn btn-primary" %>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
